.wishlistWrapper {
    padding: 30px;
    text-align: center;
    background: black;
    color: white;
}


.wishlist {
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background: white;
    height: 100%;
    border-radius: 20px;
    z-index: 100;

    @media screen and (max-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.wishlistItem {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding: 20px 0;
    max-width: 100%;

    img {
        max-height: 80px;
    }

    p {
        color: black;
    }
}